<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div>
    With Comment
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.check_box(
      :with_comment,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%= render_filterrific_spinner %>
<% end %>