<div id="filterrific_results">
  <div class="well well-sm">
      <%= render_filterrific_spinner %>
      <%= page_entries_info devices, model: 'device' %>
      <%= link_to('Reset filters', reset_filterrific_url, class: 'right') %>
  </div>
  <table class="table-striped">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Company</th>
      <th>Last Updated</th>
    </tr>
    <% devices.each do |device| %>
      <% @comment = device.comments.order("created_at").last %>
      <% if device.comments.count > 0 %>
        <tr>
            <td><%= link_to(device.name, device_path(device)) %></td>
            <td><div class="status <%= status_class(@comment.status) %>"><%= @comment.status.name %></div></td>
            <td><%= device.location.company.name %></td>
            <td><%= @comment.created_at %></td>
        </tr>
      <% else %>
        <tr>
            <td><%= link_to(device.name, device_path(device)) %></td>
            <td><div class="status resolved">Online</div></td>
            <td><%= device.location.company.name %></td>
            <td></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
<%= will_paginate devices %>