<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-4">
                    <div id="information">
                        <h4>AWireless Wifi Settings</h4>
                        <table>
                            <tr>
                                <td>SSID:</td>
                                <td>AWireless-Internal</td>
                            </tr>
                            <tr>
                                <td>Security:</td>
                                <td>WPA2-PSK</td>
                            </tr>
                            <tr>
                                <td>Password:</td>
                                <td>#$ERdfcv</td>
                            </tr>
                        </table>
                        </hr>
                        <h4>Support Team Google Credentials</h4>
                        <table>
                            <tr>
                                <td>Username:</td>
                                <td>iqsupport@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Password:</td>
                                <td>blahblah</td>
                            </tr>
                        </table>
                            
                    </div>
                </div>
                <div class="col-sm-8">
                    <%= form_for_filterrific @filterrific do |f| %>
                        <div>
                          Search
                          <%= f.text_field( :search_query, class: 'filterrific-periodically-observed') %>
                        </div>
                        <div>
                          Devices Needing to be Contacted
                          <%= f.check_box( :with_comments, class: 'filterrific-periodically-observed') %>
                        </div>
                        <div>
                        <%= link_to('Reset filters', reset_filterrific_url) %>
                      </div>
                      <%= render_filterrific_spinner %>
                    <% end %>
                    <h2>Device List</h2>
                    <%= render( partial: 'devices/list', locals: {devices: @devices}) %>
                </div>
            </div>
        </div>
    </body>
</html>

