<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="navbar navbar-inverse">
                    <p class="navbar-text">MokiTime</p>
                    <ul class="nav navbar-nav">
                        <li><%= link_to("Add New Device", new_location_path) %></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div id="information">
                        <h4>AWireless Wifi Settings</h4>
                        <table>
                            <tr>
                                <td>SSID:</td>
                                <td>AWireless-Internal</td>
                            </tr>
                            <tr>
                                <td>Security:</td>
                                <td>WPA2-PSK</td>
                            </tr>
                            <tr>
                                <td>Password:</td>
                                <td>#$ERdfcv</td>
                            </tr>
                        </table>
                        </hr>
                        <h4>Support Team Google Credentials</h4>
                        <table>
                            <tr>
                                <td>Username:</td>
                                <td>iqsupport@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Password:</td>
                                <td>blahblah</td>
                            </tr>
                        </table>
                            
                    </div>
                </div>
                <div class="col-sm-8">
                    <h2>Device List</h2>
                        
                        <%= form_for_filterrific @filterrific do |f| %>
                            <div class="form-group">
                              <label for="search_query">Search</label>
                              <%= f.text_field( :search_query, class: 'filterrific-periodically-observed') %>

                              <label for="offline">Show Offline Devices</label>
                              <%= f.check_box( :with_comments, class: 'filterrific-periodically-observed') %>
                            </div>
                        <% end %>
                        
                    <%= render( partial: 'devices/list', locals: {devices: @devices}) %>
                </div>
            </div>
        </div>
    </body>
</html>

