  <p>
    <strong>Name:<strong>
    <%= @location.name %>
  </p>
  <p>
    <strong>Address:<strong>
    <%= @location.address %>
  </p>
  <p>
    <strong>City:<strong>
    <%= @location.city %>
  </p>
  <p>
    <strong>Phone Number:<strong>
    <%= @location.phone %>
  </p>
  <p>
    <strong>State:<strong>
    <%= @location.state %>
  </p>
  <p>
    <strong>Zip Code:<strong>
    <%= @location.zip %>
  </p>

  <h4>Devices</h4>
  <table>
  <tr>
    <th>Name</th>
    <th>Software</th>
    <th>Status</th>
    <th colspan="3"></th>
  </tr>
 
  <% @location.devices.each do |device| %>
    <tr>
      <td><%= device.name %></td>
      <td><%= device.software.name %></td>
      <td>Unknown</td>
      <td><%= link_to 'Show', device_path(device) %></td>
      <td><%= link_to 'Edit', edit_device_path(device) %></td>
      <td><%= link_to 'Destroy', device_path(device),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
  <h4>Add a Device</h4>
  <%= render 'devices/form' %>
